.ArticleCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 50em;
  margin: 2em;
  border-radius: 1em;
  transition: all 0.5s ease-in-out;
}

.roundImage {
  border-radius: 50%;
  width: 20em;
  height: 20em;
  background: var(--customGradient);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
  padding: 0.1em;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #123142;
  margin-top: 1em;
  border-radius: 1em;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8f5c1;
  margin-top: 1em;
  text-align: center;
}

.description {
  font-size: 1rem;
  color: #fff;
  margin-top: 1em;
  text-align: center;
}

/* Additional styles for the image */
.roundImage img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.link {
  text-decoration: underline;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.link:hover {
  transform: scale(1.1);
  color: transparent;
  background: var(--customGradient);
  background-image: var(--customGradient);
  color: transparent;
  background-clip: text;
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}

.ArticleCardContainer:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
